{% extends 'customer/base.html' %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p4 text-center">
            <h1> About US</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class=" card col-md-8 col-sm-12 offset-md-1 p4 text-center">
            <p>Vulputate suscipit mattis varius sed facilisi luctus bibendum netus curabitur metus eget felis sem pretium. Nisi penatibus consectetuer quis nam, mattis lacinia ut netus id nec. Per. Tempor etiam fusce malesuada iaculis sit ligula, placerat aliquam.
            </p>
            <p>Volutpat, malesuada maecenas ornare malesuada aliquam orci, ornare montes Enim hymenaeos inceptos inceptos est enim vestibulum facilisi ac dignissim luctus tortor rutrum platea facilisis. Porttitor orci sodales velit eget class hendrerit viverra fermentum.
            </p>
        <p>Malesuada. Sit senectus facilisis imperdiet fermentum nibh tempus duis. Lorem ultrices pellentesque consequat viverra interdum vivamus egestas nisi ultrices. Arcu turpis. Malesuada parturient malesuada rutrum volutpat. Lectus. Bibendum mattis et ipsum.
        </p>
        </div>
    </div>

</div>

{% endblock content %}